<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Pokedex</title>
    </head>
    <body>
        <h1>Welcome to the Pokedex!</h1>
        <p>Discover all your favorite Pokémon!</p>
    </body>


    <div class = "search-bar">
        <form action="#" method="post">
            <input type="text" name="query" placeholder="Search for a Pokémon...">
            <button type="submit" value = "submit">Search</button>
        </form>
    </div>
</html>